<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @turn.game_id %>
</p>

<p>
  <b>Question:</b>
  <%= @turn.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @turn.answer %>
</p>

<p>
  <b>Is guess:</b>
  <%= @turn.is_guess %>
</p>


<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
