<h1>Listing games</h1>

<table>
  <tr>
    <th>User</th>
    <th>Board</th>
    <th>Card</th>
    <th>Question count</th>
    <th>Guess count</th>
    <th>Opponent game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.user_id %></td>
    <td><%= game.board_id %></td>
    <td><%= game.card_id %></td>
    <td><%= game.question_count %></td>
    <td><%= game.guess_count %></td>
    <td><%= game.opponent_game_id %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
